.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #292893 0%, #131113 100%),
      linear-gradient(121.28deg, #000000 0%, #000000 100%),
      linear-gradient(360deg, #000000 0%, #101010 100%),
      radial-gradient(100% 164.72% at 100% 100%, #000000 0%, #040404 100%),
      radial-gradient(100% 148.07% at 0% 0%, #000000 0%, #e60c0c 100%);
    background-blend-mode: screen, color-dodge, lighten, difference, normal;
  }
  
h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}

 


  
  /* CSS */
  .addBtn {
    background-color: #1c9c34;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .addBtn:hover,
  .addBtn:focus {
    background-color: #022509;
  }